---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact">
  <div style="margin-top: 2rem;min-height: 40vh;" class="container">
    <h2 class="heading">Address</h2>
    <p>Department of Computer Science,</p>
    <p>Krantiguru Shyamji Krishna Verma Kachchh University,</p>
    <p>Bhuj-Mundra Road, Bhuj, Gujarat 370001.</p>

    <h2 style="margin-top: 1rem;" class="heading">Email</h2>
    <p>cs@kutchuni.edu.in Telephone:+91(2832)235036</p>
  </div>
</Layout>
