---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact">
  <div style="margin-top: 2rem;min-height: 40vh;" class="container">
    <h2 class="heading">Address</h2>
    <p>Department of Computer Science,</p>
    <p>Krantiguru Shyamji Krishna Verma Kachchh University,</p>
    <p>Bhuj-Mundra Road, Bhuj, Gujarat 370001.</p>

    <p style="margin-top: 1rem;">E-Mail: cs@kskvku.edu.in</p>
    <p>Telephone: (02832) 235036</p>
  </div>
</Layout>
