---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact">
  <div style="margin-top: 2rem;min-height: 40vh;" class="container">
    <h2 class="heading">Address</h2>
    <p>Department of Computer Science,</p>
    <p>Krantiguru Shyamji Krishna Verma Kachchh University,</p>
    <p>Bhuj-Mundra Road, Bhuj, Gujarat 370001.</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d458.35350855052974!2d69.65530511600723!3d23.212935597957685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39511e31a652eb17%3A0x129c4d76d467c3cb!2sDepartment%20Of%20Computer%20Science!5e0!3m2!1sen!2sin!4v1702131253250!5m2!1sen!2sin"
      width="400"
      height="300"
      style="border:0;margin-top: 1rem;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

    <p style="margin-top: 1rem;">E-Mail: cs@kskvku.edu.in</p>
    <p>Telephone: +91 (02832) 235036</p>
  </div>
</Layout>
