---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Facilities">
  <div class="container">
    <h2 class="heading">Facilities</h2>
    <ul>
      <li>
        <span>Computer labs with modern hardware and networking</span>

        <p>
          The department has four laboratories with total of more than 150
          computers. Computers are equipped with Corei5, Core2Duo and AMD Athlon
          processors. The department also houses two Xeon servers.
        </p>
      </li>

      <li>
        <span>NMEICT 1 Gbps broadband leased line connectivity</span>

        <p>
          Department is connected to the Ministry of Human Resources
          Development, Govt. of India's National Mission for Education through
          ICT. Under this scheme total bandwidth available with university is 1
          Gbps.
        </p>
      </li>

      <li>
        <span>Rich library with latest books, journals and magazines</span>

        <p>
          Central Library of the university has more than 1000 titles in
          computing alongwith many other research and development related title.
        </p>
      </li>

      <li>
        <span>Interactive remote teaching through Virtual Classroom</span>

        <p>
          The university houses a cutting-edge Ekalavya Virtual Classroom which
          is used to connect departments with experts throughout the world.
          Using this classroom students can be benefited by the expertise of
          faculties and experts around the world virtually.
        </p>
      </li>

      <li>
        <span>Fully furnished classrooms with mounted projectors</span>

        <p>
          Most of the department's classrooms have mounted LCD projectors to
          enable teaching through ICT.
        </p>
      </li>

      <li>
        <span>In-house project development training</span>

        <p>
          Every program offered at the department has special focus on the
          in-house project development. Students are guided individually by the
          faculties for the project development.
        </p>
      </li>

      <li>
        <span>
          Special curriculam on communication skills and personality development</span
        >
        <p>
          There are special curricula on communication skills and personality
          development to prepare IT professionals of world class.
        </p>
      </li>

      <li>
        <span>
          Collaboration with Babasaheb Ambedkar Open University, Ahmedabad</span
        >
        <p>
          Babasaheb Ambedkar Open University, Ahmedabad offers special courses
          to department's students for enviornmental and cultural awarenesss.
        </p>
      </li>

      <li>
        <span>Lush green 200 acre campus with rich flora</span>

        <p>
          Ours is a lush green campus with guest house, separate hostels for
          boys and girls and hygenic food court and mess. The campus houses rich
          flora of Kutch desert and it is also home to many birds.
        </p>
      </li>
    </ul>
  </div>
</Layout>

<style>
  .container ul {
    list-style: none;
  }
  .container ul li {
    margin-bottom: 1rem;
  }
  .container ul li span {
    font-weight: bold;
    text-transform: capitalize;
    color: CanvasText;
  }
</style>
