---
import Layout from "../layouts/Layout.astro"
import {facilities} from "../data/facilities"
---

<Layout title="Facilities">
  <div class="container">
    <h2 class="heading">Facilities</h2>
    <div class="grid">
      {facilities.map(faci=>(
        <div data-aos="fade-up" class="faci">
          <div class="icon">
            <span set:html={faci.icon}></span>
          </div>
          <strong>{faci.title}</strong>
          <p>{faci.description}</p>
        </div>
      ))}
    </div>
  </div>
</Layout>

<style>
  .container ul {
    list-style: none;
  }
  .container ul li {
    margin-bottom: 1rem;
  }
  .container ul li span {
    font-weight: bold;
    text-transform: capitalize;
    color: CanvasText;
  }

  .grid{
    grid-template-columns: repeat(3,minmax(0, 1fr));
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2,minmax(0, 1fr));
    }
    @media (max-width: 640px) {
      grid-template-columns: unset;
    }
    .faci{
      padding: 1.5rem;
      border-radius: .5rem;
      border: 1px solid var(--border);
      background: var(--accent-opaque);

      .icon{
        width: 4rem;
        height: 4rem;
        background: var(--accent);
        border-radius: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          stroke: #fff;
          vertical-align: middle;
        }
      }
      strong{
        color: CanvasText;
      }
    }
  }
</style>
