---
import Layout from "../layouts/Layout.astro"
import { xata } from "../xata"
const programs = await xata.db.Programs.select([
  "Title",
  "Description",
  "Href"
]).getAll()
---

<Layout title="Department of Computer Science">
  <header class="bg">
    <div class="container text-center">
      <h1 style="line-height: 1;">Department of Computer Science</h1>
      <p style="margin-block: .5rem;font-size: 1.2rem;">
        Krantiguru Shyamji Krishna Verma Kachchh University
      </p>
      <a href="#programs">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg
        >
      </a>
    </div>
  </header>
  <div id="programs" class="container">
    <h2 class="text-center">Programs We Offer</h2>
    <div class="grid">
      {
        programs.map(({ Title, Description, Href }) => (
          <div class="course">
            <h3>{Title}</h3>
            <p>{Description}</p>
            <a class="btn" href={`/programs/#${Href}`}>
              Know More
            </a>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/bg.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
  }
  .container {
    scroll-margin: 1rem;
  }
  header > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    color: #fff;
  }
  header a {
    color: #fff;
  }
  .grid {
    margin-block: 2rem;
    gap: 3rem;
  }
  .course {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.3rem;
    background-color: rgb(226, 232, 240);
    box-shadow: 0 0 10px rgb(209, 213, 219);
  }
  .course p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
  }
  .course .btn {
    align-self: start;
    margin-top: 1rem;
  }
</style>
