---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Programs">
  <div style="margin-top: 2rem;" class="container">
    <h2 class="heading">Programs Offered</h2>

    <ul class="ml-1">
      <li>Postgraduate Diploma in Computer Applications</li>
      <p class="ml-1">
        The Post Graduate Diploma in Computer Applications (PGDCA) aims at
        providing specialization in Computer Science with technical and
        professional skills. Duration of the course is two semesters (one year).
        The Post Graduate Diploma in Computer Applications can be pursued after
        graduation (any stream). PGDCA gives students the career prospects of
        becoming System Analyst, Software specialist, Database Administrator and
        many more. It also opens doors for higher studies in Computer Science.
      </p>
      <ul class="ml-2 mt-1">
        <li>Intake: 60</li>
        <li>
          Eligibility: Graduate degree from a recognized university with minimum
          40% marks.
        </li>
        <li>Admissions: Once a year in June.</li>
      </ul>
      <br />
      <li>Master of Science (Information Technology)</li>
      <p class="ml-1">
        M.Sc. (IT) is aimed at providing a comprehensive overview of the recent
        developments in various frontier areas of Computer Science including
        Enterprise Systems, Computer Security, Parallel and Distributed
        Computing and Networking with Web Technologies. To provide a sound
        basis, sufficient amount of theoretical input is also given to the
        students. Another feature of the program is that the students will have
        ample opportunity to carry out research & software development in the
        labs. M.Sc. (IT) is aimed to focus on the recent developments in the
        areas of Information Security. The curriculum for these P.G programs has
        been carefully crafted to cater the need of those students who are
        admitted with their basic degree in computing. In other words, care is
        taken, not to repeat the same, good old courses of U.G in the P.G level.
      </p>
      <ul class="ml-2 mt-1">
        <li>Intake: 60</li>
        <li>
          Eligibility: BCA, B.Sc. (IT), B.Tech. (IT/CE/CSE) degree from
          recognized university with minimum 40% marks.
        </li>
        <li>Admissions: Once a year in June.</li>
      </ul>

      <br />

      <li>
        Integrated Master of Science (Computer Applications & Information
        Technology)
      </li>

      <p class="ml-1">
        M.Sc. (CA & IT) is perhaps the most popular program in the department,
        with an average intake of 60 students per year. The Computer Science
        department makes all efforts in imparting high quality education to its
        highly motivated students. The M.Sc. (CA & IT) program has carefully
        been designed to cater to the global demands and offers a balanced
        coverage of hardware and software systems. The program includes elective
        courses covering thrust areas such as Distributed Systems & Computing,
        Embedded Systems, Data Mining, Computer Security etc. The M.Sc. (CA &
        IT) program enjoys an enviable placement. The curriculum is a blend of
        the conventional and the radical. It is updated regularly to keep up
        with the growing demands and the changing trends of the software
        industry.
      </p>
      <ul class="ml-2 mt-1">
        <li>Intake: 80</li>
        <li>
          Eligibility: HSC or 10+2 in Science or Commerce stream from a
          recognized board with minumum 40% marks.
        </li>
        <li>Admissions: Once a year in June.</li>
      </ul>
    </ul>
  </div>
</Layout>

<style>
  .container > ul > li {
    font-weight: bold;
  }
  .ml-1 {
    margin-left: 1rem;
  }
  .ml-2 {
    margin-left: 2rem;
  }
  .mt-1 {
    margin-top: 1rem;
  }
</style>
