---
import Layout from "../layouts/Layout.astro"
import { xata } from "../xata"

const programs = await xata.db.Programs.select([
  "id",
  "Title",
  "Description",
  "Requirement"
]).getAll()
---

<Layout title="Programs">
  <div style="margin-top: 2rem;" class="container">
    <h2 class="heading">Programs Offered</h2>

    {
      programs.map(program => {
        return (
          <div style="margin-bottom: 1.5rem;">
            <h3>{program.Title}</h3>
            <p>{program.Description}</p>
            <p style="white-space: pre-line;margin-top: 1rem;">
              {program.Requirement}
            </p>
          </div>
        )
      })
    }
  </div>
</Layout>
