---
import Layout from "../layouts/Layout.astro"
import { xata } from "../xata"

const programs = await xata.db.Programs.select([
  "Title",
  "Description",
  "Requirement",
  "Href",
]).getAll()
---

<Layout title="Programs">
  <div style="margin-top: 2rem;" class="container">
    <h2 class="heading">Programs Offered</h2>

    {
      programs.map(({ Description, Requirement, Title, Href }) => {
        return (
          <div id={Href} style="margin-bottom: 1.5rem;scroll-margin: 1.2rem;">
            <h3 style="color: var(--accent);">{Title}</h3>
            <p>{Description}</p>
            <p style="white-space: pre-line;margin-top: 1rem;">{Requirement}</p>
          </div>
        )
      })
    }
  </div>
</Layout>
