<div class="hamburger">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="18"
    height="18"
    viewBox="0 0 18 18"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <line x1="0" x2="18" y1="4" y2="4"></line>
    <line x1="0" x2="18" y1="14" y2="14"></line>
  </svg>
</div>

<style>
  .hamburger {
    display: none;
  }
  html.dark nav .hamburger svg {
    stroke: #fff;
  }
  @media screen and (max-width: 786px) {
    .hamburger {
      display: flex;
    }
    .hamburger svg {
      overflow: visible;
    }
    .hamburger svg line {
      transition: var(--transition);
    }
    .hamburger svg line:nth-child(1) {
      transform-origin: left;
    }
    .hamburger svg line:nth-child(2) {
      transform-origin: left bottom;
    }
    .hamburger.active svg line:nth-child(1) {
      transform: rotate(45deg) translateX(-4.5px);
    }
    .hamburger.active svg line:nth-child(2) {
      transform: rotate(-45deg) translate(2.5px, 2px);
    }
  }
</style>
