---
import Hamburger from "./Hamburger.astro"
import ThemeToggler from "./ThemeToggler.astro"

const navLinks = [
  {
    href: "/programs",
  },
  {
    href: "/courses",
  },
  {
    href: "/facilities",
  },
  {
    href: "/people",
  },
]
const dropLinks = [
  {
    href: "/resources",
  },  {
    href: "/blogs",
  },
  {
    href: "/about",
  },
  {
    href: "/contact",
  },
]
---

<nav>
  <div class="container">
    <a class="cs-logo" aria-label="Home Page" href="/" title="Department Of Computer Science KSKVKU"
      ><img src="/logo_kskvku_new.webp" alt="Department of Computer Science Logo" class="black" /><img
        src="/logo_kskvku_new_white.webp"
        alt="Department of Computer Science Logo"
        class="white"
      />
    </a>

    <Hamburger />
    <ul>
      <li class="themeSwitch">
        <input type="checkbox">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="#000"
          class="moon"
        >
          <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="#fff"
          stroke="#fff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="sun"
        >
          <circle cx="12" cy="12" r="4"></circle>
          <path d="M12 2v2"></path>
          <path d="M12 20v2"></path>
          <path d="m4.93 4.93 1.41 1.41"></path>
          <path d="m17.66 17.66 1.41 1.41"></path>
          <path d="M2 12h2"></path>
          <path d="M20 12h2"></path>
          <path d="m6.34 17.66-1.41 1.41"></path>
          <path d="m19.07 4.93-1.41 1.41"></path>
        </svg>

      </li>
      <li>
        <a class={Astro.url.pathname === "/" && "active"} href="/">Home</a>
      </li>
      {
        navLinks.map((link) => {
          const text = link.href.split("/")[1]
          return (
            <li>
              <a
                class={Astro.url.pathname.includes(link.href) && "active"}
                href={link.href}
              >
                {text}
              </a>
            </li>
          )
        })
      }
      <li class="drop-wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg
        >
        <ol class="dropdown">
          {
            dropLinks.map((link) => {
              const text = link.href.split("/")[1]
              return (
                <li>
                  <a
                    class={Astro.url.pathname.includes(link.href) && "active"}
                    href={link.href}
                  >
                    {text}
                  </a>
                </li>
              )
            })
          }
        </ol>
      </li>
    </ul>
  </div>
</nav>

<style>
  .cs-logo {
    position: relative;
    width: 350px;
    height: 45px;
  }
  .cs-logo img {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    width: 100%;
    transition: var(--transition);
    vertical-align: middle;
    object-fit: contain;
  }
  html .cs-logo img.white,
  html.dark .cs-logo img.black {
    visibility: hidden;
    opacity: 0;
  }
  html.dark .cs-logo img.white {
    visibility: visible;
    opacity: 1;
  }

  nav {
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    transition: var(--transition);
    background: var(--bg);
    z-index: 10;
  }
  .container {
    padding-block: .5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: capitalize;
  }
  .themeSwitch{
    position: relative;
    margin: .5rem;
    padding-inline: .5rem;
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.dark .sun{
      opacity: 1;
    }
    &.dark .moon{
      opacity: 0;
    }

    input[type='checkbox']{
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid var(--accent);
      border-radius: 1000px;
      appearance: none;
      cursor: pointer;
    }
  }
  nav ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: currentColor;
    font-weight: bold;
    opacity: 0.8;
    transition: var(--transition);
  }
  nav ul li a.active,
  nav ul li a:hover {
    color: var(--accent);
    opacity: 1;
  }

  .drop-wrapper {
    padding-inline: .5rem;
    padding-block: 1rem;
    position: relative;
    cursor: pointer;

    svg {
      vertical-align: middle;
      stroke: var(--accent);
    }
  }
  .dropdown {
    border-radius: 0.3rem;
    position: absolute;
    width: 20rem;
    border: 1px solid var(--border);
    top: 100%;
    right: 0;
    background-color: var(--bg);
    list-style: none;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition);
    z-index: 2;
  }
  .drop-wrapper:hover .dropdown,
  .drop-wrapper:focus-within .dropdown  {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
  .dropdown a {
    display: block;
  }

  @media (max-width: 990px) {
    .cs-logo {
      height: 39px;
    }
    .themeSwitch{
      margin-inline: .5rem;
    }
    nav ul li a {
      padding: 0.5rem;
    }
  }
  @media (max-width: 786px) {
    .container {
      gap: 0.3rem;
    }
    .cs-logo {
      width: 260px;
    }

    nav ul {
      position: absolute;
      left: 0;
      width: 100%;
      top: 102%;
      padding-inline: 1rem;
      padding-block-end: .5rem;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: unset;
      background-color: var(--bg);
      border-bottom: 1px solid var(--border);
      transition: var(--transition);
      visibility: hidden;
      pointer-events: none;
      opacity: 0;

      &.active {
        visibility: visible;
        pointer-events: all;
        opacity: 1;
      }
    }
    .themeSwitch{
      margin-inline: 0;
      margin-block-start: 1rem;
    }
    nav ul li a {
      display: block;
      padding-inline: 0;
    }
    .drop-wrapper {
      padding: 0;
      cursor: none;
    }
    .drop-wrapper svg {
      display: none;
    }
    .dropdown {
      border: none;
      width: 100%;
      position: static;
    }
    nav ul.active .dropdown {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
</style>
