---
import Hamburger from "./Hamburger.astro"
import ThemeToggler from "./ThemeToggler.astro"

const navLinks = [
  {
    href: "/programs",
  },
  {
    href: "/courses",
  },
  {
    href: "/facilities",
  },
  {
    href: "/blogs",
  },
]
const dropLinks = [
  {
    href: "/people",
  },
  {
    href: "/about",
  },
  {
    href: "/contact",
  },
]
---

<nav>
  <div class="container">
    <a class="cs-logo" aria-label="KSKVKU" href="/" title="CS-KSKVKU | Home"
      ><img src="/logo_kskvku_new.webp" alt="KSKVKU Logo" class="black" /><img
        src="/logo_kskvku_new_white.webp"
        alt="KSKVKU Logo"
        class="white"
      />
    </a>

    <ThemeToggler />
    <Hamburger />
    <ul class="navUl">
      <li>
        <a class={Astro.url.pathname === "/" && "active"} href="/"> Home</a>
      </li>
      {
        navLinks.map((link) => {
          const text = link.href.split("/")[1]
          return (
            <li>
              <a
                class={Astro.url.pathname.includes(link.href) && "active"}
                href={link.href}
              >
                {text}
              </a>
            </li>
          )
        })
      }

      <li class="drop-wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg
        >
        <ul class="dropdown">
          {
            dropLinks.map((link) => {
              const text = link.href.split("/")[1]
              return (
                <li>
                  <a
                    class={Astro.url.pathname.includes(link.href) && "active"}
                    href={link.href}
                  >
                    {text}
                  </a>
                </li>
              )
            })
          }
        </ul>
      </li>
    </ul>
  </div>
</nav>

<style>
  .cs-logo {
    position: relative;
    width: 350px;
    height: 45px;
  }
  .cs-logo img {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    width: 100%;
    transition: var(--transition);
    vertical-align: middle;
    object-fit: contain;
  }
  html .cs-logo img.white,
  html.dark .cs-logo img.black {
    visibility: hidden;
    opacity: 0;
  }
  html.dark .cs-logo img.white {
    visibility: visible;
    opacity: 1;
  }

  nav {
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    background: var(--bg);
    z-index: 10;
  }
  nav .container {
    padding-block: 1rem;
  }

  nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navUl {
    display: flex;
    list-style: none;
    text-transform: capitalize;
  }
  .navUl li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: currentColor;
    font-weight: bold;
    opacity: 0.8;
    transition: var(--transition);
  }
  nav ul li a.active,
  nav ul li a:hover {
    color: var(--accent);
    opacity: 1;
  }

  .drop-wrapper {
    padding-left: 1rem;
    position: relative;
    cursor: pointer;
  }
  .drop-wrapper svg {
    vertical-align: middle;
    stroke: var(--accent);
  }
  .dropdown {
    border-radius: 0.3rem;
    position: absolute;
    width: 20rem;
    border: 1px solid var(--border);
    top: 102%;
    right: 0;
    background-color: var(--bg);
    list-style: none;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition);
    z-index: 2;
  }
  .drop-wrapper:hover .dropdown {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
  .dropdown a {
    display: block;
  }

  @media (max-width: 990px) {
    .cs-logo {
      height: 39px;
    }
    .navUl li a {
      padding: 0.5rem;
    }
  }
  @media (max-width: 786px) {

    .container {
      gap: 0.3rem;
    }
    .cs-logo {
      width: 260px;
    }

    .navUl {
      position: absolute;
      flex-direction: column;
      background-color: var(--bg);
      width: 100%;
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      left: 0;
      top: 100%;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      transition: var(--transition);
      padding-block: 0.5rem;
      padding-inline: .5rem;
    }
    .navUl.active {
      visibility: visible;
      pointer-events: all;
      opacity: 1;
      z-index: 2;
    }
    .navUl li a {
      display: block;
      padding: 0.5rem 1rem;
    }

    .drop-wrapper {
      padding: 0;
      cursor: none;
    }
    .drop-wrapper svg {
      display: none;
    }
    .dropdown {
      border: none;
      width: 100%;
      position: static;
    }
    .navUl.active .dropdown {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
</style>
