---
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar.astro"
import "../globals.css"
const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title} | CS KSKVKU Blogs</title>
    <script is:inline>
      const theme = localStorage.getItem("theme")
      theme === "dark" ? document.documentElement.classList.add("dark") : null
    </script>
    <script>
      const theme = localStorage.getItem("theme")
      theme === "dark"
        ? document
            .querySelector<HTMLDivElement>(".theme .inner")
            .classList.add("dark")
        : null
    </script>
  </head>
  <body>
    <Navbar />
    <main style="min-height: 85vh;">
      <div style="margin-top: 2rem;" class="container blog_container">
        <h2 class="heading">{frontmatter.title}</h2>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  .blog_container h1,
  .blog_container h2,
  .blog_container h3,
  .blog_container h4,
  .blog_container h5,
  .blog_container h6 {
    color: var(--accent);
  }
</style>
