---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "../globals.css"
export const URL = "https://cskskvku.vercel.app"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title} | KSKV Kachchh University</title>
    <script is:inline>
      const theme = localStorage.getItem("theme")
      theme === "dark" ? document.documentElement.classList.add("dark") : null
    </script>
    <script>
      const theme = localStorage.getItem("theme")
      theme === "dark"
        ? document
            .querySelector<HTMLDivElement>(".theme .inner")
            .classList.add("dark")
        : null
    </script>
    <link
      rel="preload"
      type="image/webp"
      as="image"
      href="/logo_kskvku_new.webp"
    />
    <link slot="canonical" rel="canonical" href={Astro.url} />
    <slot name="homeBg" />
  </head>
  <body>
    <Navbar />
    <main style="min-height: 85vh;">
      <slot />
    </main>
    <Footer />
  </body>
</html>
