---
import Layout from "../../layouts/Layout.astro"
import { xata } from "../../xata"

const courses = await xata.db.Courses.select(["id", "Name", "Slug"]).getAll()
---

<Layout title="Courses">
  <div style="margin-top: 2rem;" class="container">
    <h2 class="heading">Courses (Syllabus)</h2>
    {
      courses.map(course => {
        return (
          <a class="course" href={`/courses/${course.Slug}`}>
            <span style="font-size: 1.4rem;">&#8618;</span> {course.Name}
          </a>
        )
      })
    }
  </div>
</Layout>
<style>
  .course {
    text-decoration: none;
    color: #000;
    display: block;
    margin-block: 1rem;
  }
</style>
