---
import Layout from "../../layouts/Layout.astro"
import { xata } from "../../xata"

const courses = await xata.db.Courses.select(["id", "Name", "Slug"]).getAll()
---

<Layout title="Courses">
  <div  class="container">
    <h2 class="heading">Courses (Syllabus)</h2>
    <ol class="courses">
      {
        courses.map((course) => {
          return (
            <li>
              <a
                class="course"
                href={`/courses/${course.Slug}/`}
              >
                {course.Name}
              </a>
            </li>
          )
        })
      }
    </ol>
  </div>
</Layout>
<style>
  .courses {
    padding-left: 1.1rem;
    list-style: none;
    padding-left: 0;
  }
  .courses li {
    margin-bottom: 1rem;
  }
  .course {
    color: currentColor;
    transition: color var(--transition);
  }
  .course:focus-within,
  .course:hover {
    color: var(--accent);
  }
</style>
