---
import Layout from "../../layouts/Layout.astro"
import { xata } from "../../xata"

const courses = await xata.db.Courses.select(["id", "Name", "Slug"]).getAll()
---

<Layout title="Courses">
  <div style="margin-top: 2rem;" class="container">
    <h2 class="heading">Courses (Syllabus)</h2>
    {
      courses.map((course, index) => {
        return (
          <a class="course" href={`/courses/${course.Slug}`}>
            {index + 1 + ")"} {course.Name}
          </a>
        )
      })
    }
  </div>
</Layout>
<style>
  .course {
    display: block;
    text-decoration: none;
    color: currentColor;
    margin-bottom: 1.5rem;
    width: fit-content;
  }
  .course:hover {
    color: var(--accent);
  }
</style>
